*{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
nav{
    padding:40px 200px;
    display: flex;
    justify-content: space-between;
}
.nav-img{
    display: flex;
    align-items: center;
}
.nav-img h3{
    margin-left: 7px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    margin-right: 35px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
}
nav ul li a#nav-icon{
    background-color: rgba(11, 2, 35, 0.1);
    padding: 18px 24px;
    border-radius: 8px;
}

nav ul li a #nav-items-text{
    color: rgb(60, 53, 79);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
} 

.nav-btn{
    border:0;
    color: rgb(60, 53, 79);
    padding: 18px 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.1);
}


nav ul li .fa-youtube{
    color:#F61C0D;
    width: 32px;
}
nav ul li a .fa-tiktok{
    color: #000000;
    width: 32px;
    
}



/* responsive for Mobile Device with media query  */
@media screen and (max-width:576px){
    nav{
        align-items: center;
    }
    nav, .nav-items{
        flex-direction: column;
        gap:25px;
    }
}

/* responsive for Tablet Device with media query  */
@media screen and (min-width:576px) and (max-width:768px){
    nav{
        padding:0;
    }
}